# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @yeatmanlab/roar-maintainers

# The ROAR reseacher documentation is owned by the researcher documentaion team
/docs/researcher/ @yeatmanlab/roar-research-documentation

# The ROAR partnerships documentation is owned by the partnerships documentaion team
/docs/partnerships/ @yeatmanlab/roar-partnerships-documentation
